*{
    box-sizing: border-box;
}

body{
    background-color: #242333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
.movie-container{
    margin: 2.5rem 0;
}
.movie-container select{
    background-color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    padding: 0.3rem 0.7rem;
   -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.seat{
    background-color: #444451;
    height: 12px;
    width: 15px;
    margin: 0.3rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
/* .container{
    display: flex;
} */
.row{
    display: flex;
}
.seat:nth-of-type(3){
    margin-left: 1rem;
}
.seat:nth-of-type(7){
    margin-left: 1rem;
}
/* .row:nth-of-type(7){
    margin-left: 1rem;
} */
.showcase{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    background-color: rgba(0,0,0,0.3);
}
.showcase li{
    display: flex;
    align-self: start;
    margin: 0.5rem;
}
.showcase small{
    margin-top: 0.3rem;
}
.occupied{
    background-color: #fff;
}
.selected{
    background-color: #b17f12;
}
.seat:not(.occupied):hover{
    transform: scale(1.4);
    cursor: pointer;
}
.showcase .seat:not(.occupied):hover{
    cursor: default;
    transform: scale(1);
}

.screen{
    background-color: #fff;
    height: 7rem;
    width: 13.5rem;
    margin: 1rem 0;
    box-shadow: 2px 2px 10px #fff;
    transform: rotateX(45deg);
}
.container{
    perspective: 1000px;
}




